/*Documento CSS*/
body {
    font-family: Arial, sans-serif;
    background-color: #171a21;
}

body::before {
    content: "";
    filter: blur(5px);
    background-image: url(../Images/steam.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -0;
    background-size: cover;
}

.container {
    position:absolute;
    width: 100%;
    min-height: 400px;
    margin: auto;
    padding: 15px;
    text-align: center;

}

.juego{
    width: 80%;
    margin-right: 300px;
    width: 800px;
    height: 500px;
    color: whitesmoke;
    font-size: 2em;
    background-color: rgba(5, 15, 49, 0.795);
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 10px;

}

#menuT ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menuT ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

#menuT ul li a:hover {
    background-color: #355b8c;
}