/*Documento CSS*/
body {
    font-family: Arial, sans-serif;
    background-color: #171a21;
}

body::before {
    content: "";
    filter: blur(5px);
    background-image: url(../Images/steam.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -0;
    background-size: cover;
}

.container {
    position:absolute;
    width: 100%;
    min-height: 400px;
    margin: auto;
    padding: 15px;
    text-align: center;

}

.juegos{
    width: 80%;
    float: right;
    margin-right: 100px;
}
.game-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 200px;
    color: whitesmoke;
    font-size: 2em;
    background-color: rgba(5, 15, 49, 0.795);
    margin: auto;
    margin-bottom: 50px;

}

.game-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 100px;
    position: absolute;
}

.game-price {
    font-size: 18px;
    margin-top: 30px;
    color: #72f083;
    position: absolute;
}

.game-box:first-child{
    margin-top: 60px;
}

.menuT {
    background-color: #1b2838;
    position: absolute;
    color: #ffffff;
    width: 150px;
    padding: 10px;
    margin: 60px auto;
    border-radius: 5px;
}

.menuT ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menuT ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.menuT ul li a:hover {
    background-color: #355b8c;
}